:root{
    --lightCyan: hsl(193, 38%, 86%);
    --NeonGreen: hsl(150, 100%, 66%);

    --grayishBlue: hsl(217, 19%, 38%);
    --darkGrayishBlue: hsl(217, 19%, 24%);
    --darkBlue: hsl(218, 23%, 16%);

    font-size: 24px;
    font-family: 'Manrope', sans-serif;
}

body{
    background-color: var(--darkBlue);
    text-align: center;
    margin: 0px;
}

#centre-card{
    background-color: var(--darkGrayishBlue);
    border-radius: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -68%);
    width: 92%;
    
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#quote-id{
    font-size: 0.5em;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    color: var(--NeonGreen);

    margin-top: 40px;
}   

#quote{
    color: var(--lightCyan);
    margin-top: 14px;
    margin-inline: 17px;
    margin-bottom: 23px
}

#divider-img{
    display: block;
    margin-bottom: 66px;
}

#randomise-btn{
    border: none;
    width: 64px;
    height: 64px;
    border-radius: 50%;

    padding-top: 5px;
    background-color: var(--NeonGreen);

    position: absolute;
    bottom: -32px;
}

.attribution{
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 8px;
}